.header,
.heroSection,
.filterSection,
.cardSection,
.signUp,
.footer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 576px) {

    .searchBox {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .filterLeft {
        width: 160px;
    }

    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footerBottom {
        flex-direction: row;
        justify-content: space-between;
    }

}



@media (min-width: 768px) {

    /* NAVBAR */

    .hamburger {
        display: none;
    }

    .navbar {
        position: static;
        opacity: 1;
        visibility: visible;
        width: auto;
        flex-direction: row;
        align-items: center;
        background: transparent;
        padding: 0;
        gap: 2rem;
    }

    .mobileButtons {
        display: none;
    }

    .navBtn {
        display: flex;
        gap: 1rem;
    }

    .header {
        padding: 0 3rem;
    }

    /* FILTER */

    .filterSection {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filterLeft {
        width: 160px;
        flex-shrink: 0;       /* stop it shrinking */
    }

    .filterRight {
        width: 160px;
        flex-shrink: 0;       /* stop it shrinking */
        display: flex;
        justify-content: flex-end;
    }

    .categoryButtons {
        flex: 1;              /* take remaining space between left and right */
        min-width: 0;         /* allow shrinking */
    }

    /* FOOTER */

    .footerTop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .footerLinks {
        gap: 1.8rem;
    }

    .footerBottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .footerBottomLeft {
        gap: 1rem;
    }

    .footerBottomRight {
        gap: 1rem;
    }

}


@media (min-width: 992px) {

    .cardGrid {
        grid-template-columns: repeat(3, 1fr);
    }

}


/* ── 1200px ── */

@media (min-width: 1200px) {

    .heroSection {
        padding: 6rem 2rem 4rem;
    }

    .heroContent h1 {
        font-size: 5rem;
    }

    .cardGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .logoTrack img {
        height: 250px;
        width: auto;
        object-fit: contain;
    }

}