.header,
.heroSection,
.filterSection,
.cardSection,
.signUp,
.footer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 576px) {

    .searchBox {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .filterLeft {
        width: 160px;
    }

    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footerBottom {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    .footerBottomLeft{
        gap: 1.5rem;
    }

    .footerBottomRight{
        gap: 1.5rem;
    }
   
}



@media (min-width: 768px) {

    /* NAVBAR */

    .hamburger {
        display: none;
    }

    .navbar {
        position: static;
        opacity: 1;
        visibility: visible;
        width: auto;
        flex-direction: row;
        align-items: center;
        background: transparent;
        padding: 0;
        gap: 2rem;
    }

    .mobileButtons {
        display: none;
    }

    .navBtn {
        display: flex;
        gap: 1rem;
    }

    .header {
        padding: 0 3rem;
    }

    /* FILTER */

    .filterSection {
        padding: 2rem 1rem;
       
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .filterLeft {
        width: 120px;
        flex-shrink: 0;       /* stop it shrinking */
    }

    .filterRight {
        width: 120px;
        flex-shrink: 0;       /* stop it shrinking */
    }
    .filterRight button{
        width: 100%;
        font-size: 0.9rem;
    }

    .categoryButtons {
        flex: 1;              /* take remaining space between left and right */
        min-width: 0;         /* allow shrinking */
    }

    .signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    gap: 2.5rem;
    margin-top: 2rem;
    padding: 0 1.2rem;
}


    /* FOOTER */

    .footerTop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footerLinks {
        gap: 1.8rem;
    }

    .footerBottom {
        flex-direction: row;
        justify-content: center;
    }

    .footerBottomLeft {
        gap: 1rem;
    }

    .footerBottomRight {
        gap: 1rem;
    }

}


@media (min-width: 992px) {

    .cardGrid {
        grid-template-columns: repeat(3, 1fr);
    }

}


/* ── 1200px ── */

@media (min-width: 1200px) {

    .heroSection {
        padding: 6rem 2rem 4rem;
    }

    .heroContent h1 {
        font-size: 5rem;
    }

     /* FILTER */

     .categoryButtons{
        justify-content: center;
     }

    .filterSection {
        padding: 2rem 1rem;
       
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cardGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .logoTrack img {
        height: 250px;
        width: auto;
        object-fit: contain;
    }

     /* FOOTER */

    .footerTop {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .footerLinks {
        gap: 1.6rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0rem;
    }

    .footerBottom {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .footerBottomLeft {
        gap: 1rem;
    }

    .footerBottomRight {
        gap: 1rem;
    }

}